{
  "extends": "eslint:recommended",
  "env": {
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 8
  },
  "rules": {
    "no-unused-vars": ["warn", { "vars": "local", "args": "none" }],
    "semi": "warn"
  }
}
